.LogoWrapper {
    height: 100%;
    padding: 0.6rem 1rem 0.6rem 2rem;
}

.LogoIcon {
    height: 100%;
}

.slogan {
    font-size: 0.5rem;
    position: absolute;
    text-align: center;
    left: 42px;
    top: 65px;
}