.Form_wrapper {
    min-width: 500px;
    max-width: 1000px;
}

.Contact_wrapper {
    margin: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 2rem;
    transition: width ease-in-out;
}