.BreadBottom {
    height: 8%;
    width: 80%;
    background: linear-gradient(#F08E4A, #e27b36);
    border-radius: 10px 10px 30px 30px;
    box-shadow: inset -15px 0 #c15711;
    margin: 2% auto;
}

.BreadTop {
    height: 14%;
    width: 80%;
    background: linear-gradient(#bc581e, #e27b36);
    border-radius: 50% 50% 10px 10px;
    box-shadow: inset -15px 0 #c15711;
    margin: 2% auto;
    position: relative;
}

.Seeds1 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 30%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(-20deg);
    box-shadow: inset -2px -3px #c9c9c9;
}

.Seeds1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px 2px #c9c9c9;
  }
  
.Seeds1:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 180%;
    top: -50%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px -3px #c9c9c9;
  }

  .Seeds2 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 64%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(10deg);
    box-shadow: inset -3px 0 #c9c9c9;
  }
  
  .Seeds2:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 150%;
    top: -130%;
    border-radius: 40%;
    transform: rotate(90deg);
    box-shadow: inset 1px 3px #c9c9c9;
  }
  

.Meat {
    width: 80%;
    height: 3%;
    background: linear-gradient(#7f3608, #702e05);
    margin: 2% auto;
    border-radius: 15px;
    animation: addMeat 0.2s ease-in-out forwards;
}

.Cheese {
    width: 85%;
    height: 3.5%;
    margin: 2% auto;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
    animation: addCheese 0.2s ease-in-out forwards;
}

.Salad {
    width: 85%;
    height: 4%;
    margin: 2% auto;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
    animation: addSalad 0.2s ease-in-out forwards;
}

.Bacon {
    width: 80%;
    height: 2%;
    background: linear-gradient(#bf3813, #c45e38);
    margin: 2% auto;
    animation: addBacon 0.2s ease-in-out forwards;
}

@keyframes addMeat {
  from {height: 0;}
  60% {height: 10%;}
  to {height: 8%;}
}

@keyframes addCheese {
  from {height: 0;}
  60% {height: 8%;}
  to {height: 4.5%;}
}

@keyframes addSalad {
  from {height: 0;}
  60% {height: 10%;}
  to {height: 7%;}
}

@keyframes addBacon {
  from {height: 0;}
  60% {height: 6%;}
  to {height: 3%;}
}
