.SidebarWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #24201e;
    overflow: hidden;
    z-index: 400;
    transition: width 0.2s ease;
}

.SideBarWrapper_show {
    width: 250px;
}

.SideBarWrapper_hide {
    width: 0px !important;
}

.SidebarContentWrapper {
    width: 250px;
    padding: 2rem;
}

.SideBarLogoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.SideBarItemsWrapper {
    width: 100%;
    height: auto;
    margin: 2rem 0;
}

.closeBtn_wrapper {
    background: none;
    border: none;
    position: absolute;
    right: 15px;
    top: 0;
}

.closeBtn_wrapper:hover {
    cursor: pointer;
}

.closeBtn {
    font-size: 1.8rem;
    color: whitesmoke;
    height: auto;
    margin: 0;
}