.SideBarWrapper_show {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    padding: 2rem;
    background-color: #24201e;
    z-index: 400;
    animation: openSideBar 0.2s forwards;
}

.SideBarWrapper_hide {
    display: none;
}

.SideBarLogoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.SideBarItemsWrapper {
    width: 100%;
    height: auto;
    margin: 5px 0;
}

@keyframes openSideBar {
    from {width: 0px;}
    to {width: 250px;}
}

@keyframes closeSideBar {
    from {width: 250px;}
    to {width: 0px;}
}