.SideBarWrapper_show {
    display: flex;
    flex-flow: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    padding: 2rem;
    background-color: #24201e;
    z-index: 400;
}

.SideBarWrapper_hide {
    display: none;
}

.SideBarLogoWrapper {
    height: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
}