.NavBarItem .active {
    border-bottom: 3px solid saddlebrown;
    border-radius: 2px;
    background-color: #f7b263;
    text-decoration: none;
}

.NavBarItem .anchor:hover {
    border-radius: 2px;
    background-color: #f7b263;
    color: rgb(107, 43, 0);
}

.NavBarItem {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: inherit;
    width: auto;
    text-decoration: none;
}

@media only screen and ( max-width: 450px) {
    .NavBarItem {
        height: 3rem;
    }
}

.anchor {
    color: rgb(107, 43, 0);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
}

.anchor:hover {
    text-decoration: none;
}

.NavBarItem:hover {
    cursor: pointer;
}