.NavBar {
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px burlywood;
    margin: 2rem 1rem;
    padding-left: 1rem;
    height: 3rem;
}

.NavItemsWrapper {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
    margin: auto 2rem;
    text-align: center;
    height: 100%;
}

.logoBtnBehaviour {
    cursor: pointer;
    z-index: 400;
}

.sideBarCloseBtn {
    font-size: 4rem;
    text-align: center;
}

.LoginBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 50px;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

@media only screen and ( max-width: 450px ) {
    .NavItemsWrapper {
        display: none;
    }
}