.NavBar {
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px burlywood;
    margin: 2rem 1rem;
    padding: 0.6rem 2rem;
    height: 3rem;
}