.CheckoutSum_wrapper {
    display: flex;
    flex-direction: column;
    transition: width ease-in-out;
    justify-content: space-around;
}

.CheckoutBurger_wrapper {
    display: flex;
    height: 60vh;
    width: 300px;
}

@media only screen and (min-width: 400px) {
    .CheckoutBurger_wrapper {
        width: 350px;
    }
    .Hint {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 500px) {
    .CheckoutBurger_wrapper {
        width: 400px;
    }
    .Hint {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1000px) {
    .CheckoutBurger_wrapper {
        width: 400px;
    }
    .Hint {
        font-size: 1rem;
    }
}

.SectionTitle_h2 {
    padding-left: 2rem;
}

.BtnSet {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
}

.BtnSet_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}