.main_showSideBar {
    margin-left: 250px;
    animation: openSideBar 0.2s forwards;
}

.main_hideSideBar {
    margin-left: 0;
    /* animation: closeSideBar 0.2s forwards; */
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@keyframes openSideBar {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 250px;
    }
}

@keyframes closeSideBar {
    from {
        margin-left: 250px;
    }
    to {
        margin-left: 0px;
    }
}

.Header {
    width: 100vw;
    height: 120px;
    display: 'flex';
    flex-basis: '100%';
}

.Content {
    width: 100vw;
    margin-top: 1rem;
    flex: 1 0 auto;
}

.Footer {
    width: 100vw;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}

.Footer p {
    position: relative;
    margin: 1rem auto 0;
    color: gray;
    font-size: 0.6rem;
}